<div class="wrapper"></div>
    <div class="content-page">
        <div class="container mt-5">
            <h2 class="mb-4">Danh sách Hợp đồng của Tôi</h2>
            <p>Hợp Đồng đã ký: {{totalSigned}}</p>
            <p>Hợp Đồng chờ ký: {{totalPending}}</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tiêu đề</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            {{#each contracts}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.status}}</td>
                <td>
                    {{#if this.hasSigned}}
                    <a href="/contracts/detail-user/{{this._id}}" class="btn btn-success btn-sm">Xem</a>
                    {{else}}
                    <a href="/contracts/{{this._id}}" class="btn btn-primary btn-sm">Xem & Ký</a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>